#content.tab-pane.active(role='tabpanel')
  img.img-responsive(style='float: left; margin-right: 5px; height: 35px;', src='/libs/flat-ui/img/icons/svg/paper-bag.svg', alt='Clipboard')
  h4(style='margin-top: 5px;') Content
  if data
    p.help-block About #{data.length} results found.
    hr
    for d in data
      ul.media-list
        li.media
          a.pull-left(href='#')
            img.img-responsive.media-object(src='/public/books/#{d.bookId}.png', style="width:50%;height:50%", alt='...')
          .media-body
            h5.media-heading #{d.title} 
            p #{d.description}
            .col-xs-12(style='border: 1px solid #cccccc; overflow-x: scroll; border-radius: 2px;')
              for match in d.matches
                for term in match.foundTerms
                  span.label.label-success 
                    a(style='cursor: pointer; text-decoration: none; color: #ffffff;') #{term.word}
                for index in match.indexes
                  span.label.label-warning index: #{index}
                span.label.label-primary(style='margin-right: 7px;') page: #{match.page}
        hr(style='margin-top: 15px')
  if !data
    p.help-block No results are found.
